.col-form-label {
  padding-top:5px;
}

button, input {
  margin-top:4px;
}

img {
  margin:10px 10px 10px 10px;
  width: 100px;
  height: 100px;
}

.btn:not(:disabled):not(.disabled) {
  margin:0 5px;
}

.col-lg-5 {
  position:absolute;
  margin-top:-420px;
  width: 450px;
  overflow: hidden;
}

.spacer {
 height: 50px;
 width: 100%;
}

.btn-tab {
  width:400px;
}

.btn-bottom {
    background-color: #2567BD;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.mg-top1 {
  margin-top: 8px;
}

.th-header {
  background-color: #e3e5e8;
}

